html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(9, 221, 97) 50%, rgb(4, 185, 245) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:4s;
  }
  
  .content {
    background-color:rgb(241, 199, 232);
    border-radius:2.5em;
    box-shadow: 1.5em rgba(119, 66, 66, 0.25);
    box-sizing:border-box;
    left:50%;
    margin-top: -55px;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  
  h2{
    font-family:monospace;
    font-size: 16px;

    
  }
.button {
    text-align: center;
    margin-top:500px;
    
    
}
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
  
  
  
  